Looking at Lot Area, Garage Area, Wood Deck SF, Open Porch SF, Pool Area

Importing Libraries

In [30]:
import helper

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Importing Data

In [32]:
x = pd.DataFrame()

In [33]:
real_estate = pd.read_csv('../datasets/train.csv')

Cleaning

In [34]:
real_estate.columns = (real_estate.columns.str.lower()).str.replace(" ","_")

In [35]:
features = ['lot_area','garage_area','wood_deck_sf','open_porch_sf','pool_area']

In [36]:
iter_1_X = real_estate[features]

In [37]:
iter_1_X.isnull().sum()

lot_area         0
garage_area      1
wood_deck_sf     0
open_porch_sf    0
pool_area        0
dtype: int64

In [38]:
iter_1_X.fillna(0, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [39]:
iter_1_X.head()

   lot_area  garage_area  wood_deck_sf  open_porch_sf  pool_area
0     13517        475.0             0             44          0
1     11492        559.0             0             74          0
2      7922        246.0             0             52          0
3      9802        400.0           100              0          0
4     14235        484.0             0             59          0

In [40]:
iter_1_y = real_estate['saleprice']

Modeling

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
linreg = LinearRegression()

In [43]:
linreg.fit(iter_1_X, iter_1_y)

LinearRegression()

Scoring

In [44]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score

In [45]:
scores = cross_val_score(linreg, iter_1_X, iter_1_y, cv=5)

In [46]:
scores.mean()

0.48838849344011254

In [47]:
predicts = linreg.predict(iter_1_X)

In [48]:
r2_score(real_estate['saleprice'],predicts)

0.4970684919129751

Predicting

In [49]:
test = pd.read_csv('../datasets/test.csv')

In [50]:
test.shape

(878, 80)

In [51]:
test.columns = (test.columns.str.lower()).str.replace(' ','_')

In [52]:
test_X = test[features]

In [53]:
test_X

     lot_area  garage_area  wood_deck_sf  open_porch_sf  pool_area
0        9142          440             0             60          0
1        9662          580           170              0          0
2       17104          426           100             24          0
3        8520          480             0              0          0
4        9500          514             0             76          0
..        ...          ...           ...            ...        ...
873      8000          488             0             96          0
874     14670          480             0            230          0
875      8250          322             0             63          0
876      9000          528             0              0          0
877      8400          390            81              0          0

[878 rows x 5 columns]

In [54]:
predicts = pd.DataFrame(linreg.predict(test[features]))

In [55]:
submission = pd.concat([test['id'],predicts],axis=1)

In [56]:
submission.columns = ['Id','SalePrice']

In [57]:
submission

       Id      SalePrice
0    2658  166440.071487
1    2718  200215.737651
2    2414  176984.323311
3    1989  160623.341759
4     625  184869.738312
..    ...            ...
873  1662  182144.234648
874  1234  217843.937397
875  1373  142765.019234
876  1672  170665.192501
877  1939  151599.313434

[878 rows x 2 columns]

In [58]:
submission.to_csv('../submissions/iter1.csv',index=False)